<%# app/views/quizzes/_quiz.html.erb %>

<li>
  <%= link_to quiz_path(quiz),
    class: "block px-4 py-3 rounded-lg border bg-white hover:bg-slate-50 focus:bg-slate-50
            flex items-center justify-between focus:outline-none focus:ring-2 focus:ring-slate-300" do %>

    <div>
      <h3 class="font-semibold text-slate-900"><%= quiz.title %></h3>
      <p class="text-slate-500 text-sm">
        <%= truncate(quiz.description, length: 80) %>
      </p>
    </div>

    <div class="text-xs text-slate-500">
      <span class="inline-flex items-center gap-1">
        <%= heroicon "document-text", variant: :outline, options: { class: "w-4 h-4" } %>
        <%= number_with_delimiter(quiz.quiz_sections.size) %>
      </span>
    </div>

  <% end %>
</li>
